gunicorn

# Servidor Web y API
fastapi
uvicorn[standard]
python-multipart

# Base de Datos (MySQL)
sqlalchemy
psycopg2-binary==2.9.9
cryptography

# Seguridad y Autenticación
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
pyjwt

# Validación de Datos y Utilidades
pydantic[email]
pydantic>=2.9.0,<2.12.0
pillow

# Frontend Framework (Gradio)
gradio

# Otras dependencias detectadas en tu código
typing-extensions


